In [31]:
from sklearn.datasets import load_diabetes
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [30]:
data = load_diabetes()
X, y = data['data'], data['target']
X.shape, y.shape

((442, 10), (442,))

In [36]:
rep = 100
result_df = pd.DataFrame(columns=['mse', 'cor'])

for i in range(rep):

    X_train, X_test, y_train, y_test = train_test_split(X, y)
    model = LinearRegression()
    
    # Train the model via train data
    model.fit(X_train, y_train);
    
    # Test the model via test data
    y_hat = model.predict(X_test)
    
    # Calcaulte metrics via test data
    mse = np.mean((y_test - y_hat)**2)
    cor = np.corrcoef(y_test, y_hat)[0,1]

    # add new row to result_df
    result_df.loc[len(result_df)] = [mse, cor]

In [37]:
result_df

            mse       cor
0   2463.114634  0.736727
1   3147.406311  0.664713
2   3144.595082  0.640104
3   3135.721468  0.675873
4   3098.799795  0.698126
..          ...       ...
95  2671.285751  0.701436
96  3123.924329  0.643159
97  2907.286590  0.691111
98  3678.682305  0.646294
99  3157.836975  0.677801

[100 rows x 2 columns]

In [38]:
result_df.mean()

mse    2975.387966
cor       0.705209
dtype: float64

In [39]:
result_df.std()

mse    298.469401
cor      0.037373
dtype: float64